body {
    font-family: 'Arial', sans-serif;
}
section {
    padding: 20px;
}

.text-area {
    background-color: #fff;
    margin: 5px auto;
    text-align: left;
}

button {
    padding: 10px;
    background-color: crimson;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.box {
    width: 150px;
    height: 150px;
    background-color: deepskyblue;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}